<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADD NEW PRODUCT</title>
</head>
<body>

        <a href="/" >HOME</a><br>
        {{result}}<br>
`   <form action="/save/product" method="post">
        <h1>Product Id: <input type="text" name="pid"><br></h1>
        <h1>Product Name:  <input type="text" name ="pnm"><br></h1>
        <h1>Product Quantity: <input type="text" name="pqty"><br></h1>
        <h1>Product Price: <input type="text" name="price"><br></h1>
        <h1>Product Vendor: <input type="text" name="pven"><br></h1>
        <input type="submit">

    </form>

</body>
</html>